fastapi
uvicorn
joblib
scikit-learn
numpy
imblearn
pandas
cffi
cloudpickle
defusedxml
imbalanced-learn
lightgbm
matplotlib
numpy
packaging
psutil
scikit-learn
scipy
shap
streamlit
requests
seaborn
Pillow
plotly
pydantic
pytest
